{% extends "myblog/base.html" %} {%block title %} Post {% endblock %} 
{% block content %}
 {% if term %}
 {% if not posts and not tags  %}
<h2>No results found </h2>
{% endif %}
 {% if posts %}
<h2>Post search results....</h2>
<div class="container">
  <div class="row">
    {% for post in posts|dictsortreversed:"post_date" %}
    <div class="col m-2">
      <a
        href="{% url 'post_details' post.pk %}"
        class="text-decoration-none text-dark"
      >
        <div class="card h-100" style="width: 24rem">
          <img
            src="{{post.get_img_url}}"
            class="card-img-top h-100"
            alt="img"
          />
          <div class="card-body">
            <h3 class="card-title">{{post.title}}</h3>
            <p class="card-title">{{post.body|safe|truncatechars:50}}</p>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
  {% endif%}
  {% if tags %}
  <h2>Tags search results...</h2>
  <div class="row">
    {% for post in tags %}
    <div class="col m-2">
      <a
        href="{% url 'post_details' post.pk %}"
        class="text-decoration-none text-dark"
      >
        <div class="card h-100" style="width: 24rem">
          <img
            src="{{post.get_img_url}}"
            class="card-img-top h-100"
            alt="img"
          />
          <div class="card-body">
            <h3 class="card-title">{{post.title}}</h3>
            <p class="card-title">{{post.body|safe|truncatechars:50}}</p>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
  {% endif %}
</div>

{% else %}
<h1>No search term provided, enter a word in the search bar above</h1>
{% endif %} {% endblock %}
